/**
* @desc         Form Field classes.
* @name         form
* @author       username
* @tested       N/A
* @requires     toolkit/_colours.scss
*/

.form-field {
	margin-bottom: 10px;
	line-height: 1.6em;
	@extend %contain-floats;
	clear: both;
}
/**
 *	Allows you to stack input blocks side by side
*3*/
.form-field--inline {
	@extend .form-field;
	clear: none;
	float: left;
	width: auto;
}
.form-field--inline-spaced-right {
	@extend .form-field--inline;
	margin-right: 15px;

}
.form-field--inline-spaced-left {
	@extend .form-field--inline;
	margin-left: 15px;
}

input {
	background-color: $input-bg-colour;
	border: 1px inset $input-border;
	display: inline-block;
	margin: 0 10px;
}
input[type="radio"], input[type="checkbox"], select {
	width: auto;
	margin: 0 10px;
}
.input--xxsmall {
	max-width: 2em;
}
.input--xsmall {
	max-width: 4em;
}
.input--small {
	max-width: 6em;
}
.input--fullwidth {
	width: 100%;
}

/**
 * By default form labels will be above inputs
**/
label {
}
/**
 * align labels with inputs
**/

.label--inline {
	display: inline;
	width: 150px;
}
.label--inline-right{
	@extend .label--inline;
	float: right;
}


/*------------------------------------*\
    form validations
\*------------------------------------*/
.form-field--error {
	@extend .form-field;
	background-color: #fef7f7;
	border-left: 3px solid #df3034;
 	margin: 0 -1em 0.5em -1em;
 	padding: 0.75em 1em 1em 1em;
}
