<div class="menu">
	<h2>Menu</h2>
	<ul class="nav nav-pills">
		<li class="active">
			<a href="/tasks">Home</a>
		</li>
		<li><a href="/tasks">Todo List</a></li>
		<li><a href="/tasks">Completed</a></li>
	</ul>
</div>