<!DOCTYPE html lang="eng">
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}} - {{appname}}</title>
	{{> pageStyles}}
</head>
<body class="container">
	<div class="navbar .navbar-default">
		<div class="container">
			<div class="navbar-header"><a href="/" class="navbar-brand">{{appname}}</a></div>
		</div>
	</div>
	{{{body}}}
	{{> pageScripts}}

</body>
</html>